/*////////////////////////////////////////////FORMATAÇÃO GERAL//////////////////////////////////////////////////*/
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1,6;
    color:#ffffff;
    background-color: #000000;
}

/*////////////////////////////////////////////////NAVEGADOR////////////////////////////////////////////////////*/
.navegador{
    background-color: transparent;
}

.logo-navbar{
    height: 10vh;
    width: auto;
}

.navegador h2{
    color: #ffffff;
}

.nav-link{
    color: #ffffff;
    display: inline-block;
    padding: 2vh 2vw;
    font-size:1.1rem;
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
    margin: 2px 1px;

}

.nav-link:hover{
    background-color: #ffffff;
    color: #000000;
    margin: 0.1vh 0.1vw;
    padding: 1vh 1vw;
    font-size: 19px;
    transform: scale(0.5 0.5);
    box-shadow: 5px 5px 15px white;
}

.navbar-toggler{
    background-color: #000000;
}

@media (max-width: 768px){
  .navegador a{
    margin: 0.1vh 5vw;
    padding: 1vh 4vw;
  }

  .navegador a:hover{
    margin: 0.1vh 5vw;
    padding: 1vh 4vw;
    transform: scale(0.5 0.5);
  }

}

/*////////////////////////////////////////////////HOME(BANNER)////////////////////////////////////////////////////*/

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;
}

#home{
    margin: 10vh 0vw 1vh;
}


.banner-text h4{
    font-size: 25px;
}

.banner-text h1{
    font-size: 55px;
    line-height: 0.5;
}

.banner-text h5{
    font-size: 20px;
    display: flex;
     text-align: left;

}

.banner-img{
    width: 20vw;
    height: autovh;
    border-radius: 45%;
    filter: drop-shadow(5px 5px 15px rgb(61, 61, 61));
}

.banner-btn{
    display: inline;
    padding: 0.5vh 0.3vw;
    margin: 1vh 0.2vw;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
    background-color:transparent;
    border-color: #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
    text-align: left;
}

.banner a{
    color: #ffffff;
    text-decoration: none;
}

.banner a:hover{
    text-decoration: none;
    color: #000000;
}

.banner-btn:hover{
    background-color: #ffffff;
    color: #000000;
    font-size: 1.5rem;
    padding: 0.5vh 0.3vw;
    margin: 1vh 0.2vw;
    transform: scale(2 2);
    box-shadow: 5px 5px 15px white;
}
   

.icon1{
    background-color: #000000;
    margin: 2vh 0vw;
    height:  13vh;
    width: auto;
    border-radius: 50%;
    padding: 1vh;
    text-transform: uppercase;
    transition: transform 0.3s ease , box-shadow 0.3s ease;

}

.icon1:hover{
    transform: scale(2 2);
    filter: drop-shadow(5px 5px 15px white);

}


@media (max-width: 768px){
    .banner-img{
        width: 50vw;
        height: auto;
        border-radius: 45%;
    }

    .banner-btn{
        padding: 0.5vh 0.3vw;
        margin: 1vh 0.2vw;
        font-size: 1rem;
        background-color: #000000;
        text-transform: uppercase;
        transition: transform 0.3s ease , box-shadow 0.3s ease;
    }

    .banner-btn:hover{
        background-color: #ffffff;
        transform: scale(1 1);
        font-size: 1.2rem;
        box-shadow: 0 5px 15px #ffffff;
    }
    .social-icon img{
        display:inline;
        margin: 1vh 0vw;
        width: 8vh;
        height: auto;

    }

    #home{
        margin: 5vh 0vw 25vh;
    }

    .banner-text h4{
        font-size: 20px;
    }
    
    .banner-text h1{
        font-size: 50px;
    }
    
    .banner-text h5{
        font-size: 15px;
        display: flex;
        text-align: left;
    }
}
/*////////////////////////////////////////////////SOBRE MIM////////////////////////////////////////////////////*/

.sobre-img{
    width: auto;
    height: 70vh;
    margin: 5vh 1vw 1vh 1vw;
    padding: 1vh;
    filter: drop-shadow(5px 5px 15px white);
}

.sobremim-text{
    font-size: 15px;
    margin: 5vh 1vw 20vh;
    padding: 10vh 0vw;
}

@media (max-width: 768px){
    .sobre-img{
        width: auto;
        height: 35vh;
        margin: 1vh 1vw 1vh;
        filter: drop-shadow(5px 5px 15px white)
    }
    .sobremim-text{
        padding: 0vh;
        font-size: 14px;
        margin: 2vh 3vw 15vh
    }
}
/*////////////////////////////////////////////////FORMAÇÃO////////////////////////////////////////////////////*/

@keyframes fillProgress {
    to {
        width: var(--progress-width, 100%);
    }
}

@media (max-width: 768px) {
    .graduacao-card {
        max-width: 100%; 
    }
}
#habilidades{
    margin: 5vh 1vw 20vh;
}
    .habilidade{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top:8vh;
        margin-bottom: 2vh;
    }

    .hb{
        
        margin: 0vh 0vw;
        padding: 1vh 3vh;
    }

.hb p{
    text-align: center;
}

.hb img{
    height:11vh;
    width: 8vw;
    filter: grayscale(100%);
}

.hb img:hover{
    filter: none;
    transform: scale(0.5 0.5);
    filter: drop-shadow( -3px 6px 10px white );
}

.teste{
    display: flex;
    justify-content: center;
    padding: 20vh 3vw;
    margin-top: 8vh;
    margin-bottom: 10vh;
}

.projeto{
    padding: 5vh 5vw 20vh 1vw;

}

.projeto-img{
    height: 60vh;
    width: 45vw;
    padding: 3vh;
    margin: 5vh 2vw 0vh 5vw;
    filter: drop-shadow( 5px 5px 15px white);
}

.projeto-p{
    margin: 20vh 1vw 0vh 2vw;
    padding: 3vh;
}
.bugg{
   height: 5vh;
   margin-bottom: 1vh;
}

.projeto-btn{
    background-color: #000000;
    color: #ffffff;
    width: 10vw;
    align-items: center;
}

.projeto-footer{
    padding: 5vh 2vw;
    display: flex;
    justify-content: center;
    margin: 5vh 2vw 1vh 10vw;
}

.bnt-footer{
    height: 6vh;
    width: 20vw;
    font-size: 20px;
}

.projeto-btn img{
    height: 3vh;
}

.carousel{
    background-color: rgb(98, 0, 255);
}

.carousel-item{
    width: 80vw;
    height: 80vh;
}

.carousel-indicators{
    background-color: #000000;
}

.part{
    display:inline-flex;
    
    display: flex;
    padding: 3vh;
}

.part1{
    padding: 5vh;
    
    height:30vh;
}

.subpart img{
    height: 7vh;
}

.part2{
    
    height: 30vh;
}

.part3{
    
    height: 30vh;
}

#certificações {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    user-select: none;
}

#slider {
    position: relative;
    width: 90%;
    height: 80vh;
    margin: 80px auto;
    perspective: 1400px;
    transform-style: preserve-3d;
}

input[type="radio"] {
    display: none;
}

#slider label {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    transform-origin: center;
    transform: scale(0.8) translateX(-50%);
}
#slider label img {
    width:100%;
    height: 80vh;
    border-radius: 10px;
}

/* Slider ativo */
#s1:checked ~ #slider1,
#s2:checked ~ #slider2,
#s3:checked ~ #slider3,
#s4:checked ~ #slider4,
#s5:checked ~ #slider5,
#s6:checked ~ #slider6 {
    opacity: 1;
    transform: scale(1) translateX(-50%);
    z-index: 2;
}

/* Próximo slider */
#s1:checked ~ #slider2,
#s2:checked ~ #slider3,
#s3:checked ~ #slider4,
#s4:checked ~ #slider5,
#s5:checked ~ #slider6,
#s6:checked ~ #slider1 {
    opacity: 0.6;
    transform: scale(0.9) translateX(50%);
    z-index: 1;
}

/* Slider anterior */
#s1:checked ~ #slider6,
#s2:checked ~ #slider1,
#s3:checked ~ #slider2,
#s4:checked ~ #slider3,
#s5:checked ~ #slider4,
#s6:checked ~ #slider5{
    opacity: 0.6;
    transform: scale(0.9) translateX(-160%);
    z-index: 1;
}

/* Outros sliders (fora do alcance) */
#s1:checked ~ #slider3,
#s2:checked ~ #slider4,
#s3:checked ~ #slider5,
#s4:checked ~ #slider6,
#s5:checked ~ #slider1,
#s6:checked ~ #slider2{
    opacity: 0.2;
    transform: scale(0.7) translateX(-90%);
    z-index: 0;
}
