/*////////////////////////////////////////////FORMATAÇÃO GERAL//////////////////////////////////////////////////*/
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1,6;
    color:#ffffff;
    background-color: #000000;
}

/*////////////////////////////////////////////////NAVEGADOR////////////////////////////////////////////////////*/
.navegador{
    background-color: transparent;
}

.logo-navbar{
    height: 10vh;
    width: auto;
}

.navegador h2{
    color: #ffffff;
}

.nav-link{
    color: #ffffff;
    display: inline-block;
    padding: 2vh 2vw;
    font-size:1.1rem;
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
    margin: 2px 1px;

}

.nav-link:hover{
    background-color: #ffffff;
    color: #000000;
    margin: 0.1vh 0.1vw;
    padding: 1vh 1vw;
    font-size: 19px;
    transform: scale(0.5 0.5);
    box-shadow: 5px 5px 15px white;
}

.navbar-toggler{
    background-color: #cecece;
}

@media (max-width: 768px){
  .navegador a{
    margin: 0.1vh 5vw;
    padding: 1vh 4vw;
  }

  .navegador a:hover{
    margin: 0.1vh 5vw;
    padding: 1vh 4vw;
    transform: scale(0.5 0.5);
  }

}

/*////////////////////////////////////////////////HOME(BANNER)////////////////////////////////////////////////////*/

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;
}

#home{
    margin: 10vh 0vw 30vh;
}


.banner-text h4{
    font-size: 25px;
}

.banner-text h1{
    font-size: 55px;
    line-height: 0.5;
}

.banner-text h5{
    font-size: 20px;
    display: flex;
     text-align: left;

}

.banner-img{
    width: 20vw;
    height: autovh;
    border-radius: 45%;
    filter: drop-shadow(5px 5px 15px rgb(61, 61, 61));
}

.banner-btn{
    display: inline;
    padding: 0.5vh 0.3vw;
    margin: 1vh 0.2vw;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
    background-color:transparent;
    border-color: #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
    text-align: left;
}

.banner a{
    color: #ffffff;
    text-decoration: none;
}

.banner a:hover{
    text-decoration: none;
    color: #000000;
}

.banner-btn:hover{
    background-color: #ffffff;
    color: #000000;
    font-size: 1.5rem;
    padding: 0.5vh 0.3vw;
    margin: 1vh 0.2vw;
    transform: scale(2 2);
    box-shadow: 5px 5px 15px white;
}
   

.icon1{
    background-color: #000000;
    margin: 2vh 1vw;
    height:  9vh;
    width: auto;
    text-transform: uppercase;
    transition: transform 0.3s ease , box-shadow 0.3s ease;

}

.icon1:hover{
    transform: scale(2 2);
    filter: drop-shadow(5px 5px 15px white);

}


@media (max-width: 768px){
    .banner-img{
        width: 50vw;
        height: auto;
        border-radius: 45%;
    }

    .banner-btn{
        padding: 0.5vh 0.3vw;
        margin: 1vh 0.2vw;
        font-size: 1rem;
        background-color: #000000;
        text-transform: uppercase;
        transition: transform 0.3s ease , box-shadow 0.3s ease;
    }

    .banner-btn:hover{
        background-color: #ffffff;
        transform: scale(1 1);
        font-size: 1.2rem;
        box-shadow: 0 5px 15px #ffffff;
    }
    .social-icon img{
        display:inline;
        margin: 1vh 0vw;
        width: 8vh;
        height: auto;

    }

    #home{
        margin: 5vh 0vw 25vh;
    }

    .banner-text h4{
        font-size: 20px;
    }
    
    .banner-text h1{
        font-size: 50px;
    }
    
    .banner-text h5{
        font-size: 15px;
        display: flex;
        text-align: left;
    }
}
/*////////////////////////////////////////////////SOBRE MIM////////////////////////////////////////////////////*/

.sobre-img{
    width: auto;
    height: 70vh;
    margin: 5vh 2vw 20vh 1vw;
    filter: drop-shadow(5px 5px 15px white);
}

.sobremim-text{
    font-size: 18px;
    margin: 5vh 2vw 20vh;
}

@media (max-width: 768px){
    .sobre-img{
        width: auto;
        height: 35vh;
        margin: 1vh 1vw 1vh;
        filter: drop-shadow(5px 5px 15px white)
    }
    .sobremim-text{
        font-size: 14px;
        margin: 2vh 3vw 15vh
    }
}
/*////////////////////////////////////////////////FORMAÇÃO////////////////////////////////////////////////////*/

.graduacao-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: flex-start;
    align-items: center;
}
.graduacao-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap; 
    transition: all 0.3s ease;
    opacity: 0; 
    height: 0;
    overflow: hidden; 
}

.graduacao-card {
    height: 50vh;
    width: 60vw;
    flex: 1; 
    max-width: 45%; 
    position: relative;
    padding: 16px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #000000;
    text-align: center;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}


.graduacao-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.graduacao-card:hover .graduacao-content {
    opacity: 1; 
    height: auto; 
    flex-direction: row; 
    gap: 16px; 
}

.graduacao-image {
    flex-shrink: 0; 
}

.graduacao-image img {
    width: 20vw;
    height: auto;
}

.graduacao-texto {
    text-align:right;
    font-size: 15px;
    line-height: 1.5;
    flex:1;
}

.progress-bar-container {
    width: 100%;
    height: 4vh;
    background-color: #ffffff; 
    border-radius: 5px;
    overflow: hidden; 
    margin: 10px 0; 
}


.progress-bar {
    width: 0; 
    height: 100%;
    background-color: #4d4d4d; 
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    line-height: 4vh; 
    animation: fillProgress 2s ease-in-out forwards; 
}

.progress-bar1 {
    --progress-width: 35%; 
}

.progress-bar2 {
    --progress-width: 20%; 
}


@keyframes fillProgress {
    to {
        width: var(--progress-width, 100%);
    }
}

@media (max-width: 768px) {
    .graduacao-card {
        max-width: 100%; 
    }
}